*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

html {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;

}

header {
    background-color: beige;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

main {
    background-color: rgb(252, 252, 239);
    border: 50px solid beige;
    padding: 3rem;
}

.remove {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

div {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
