/* General Stylings! */

*,
*:before,
*:after {
  box-sizing: inherit;
}

head {
    display: none;
}

html, body {
    height: 100%;
    display: block;
    box-sizing: border-box;
}

body {
    margin: 0;  
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
}



#password {
    margin-right: 3rem;
}
